In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [5]:
path = r'C:\Users\james\Anaconda\Instacart Basket Analysis'

In [24]:
# import dataframe

df_ords = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data', 'orders_checked.csv'), index_col=0)

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data' , 'orders_products_prior.csv'))

In [25]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [26]:
# Check the output

df_ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [27]:
# Check the size

df_ords_prior.shape

(32434489, 4)

In [28]:
# Check the size

df_ords.shape

(3421083, 6)

In [29]:
# inner merge dataframe 

df_merge_large = df_ords.merge(df_ords_prior, on = ['order_id'] , how = 'inner', indicator = True)

In [30]:
# examine value counts on '_merge' column

df_merge_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [31]:
# export data as pickle
df_merge_large.to_pickle(os.path.join(path, '02 Data' , 'Original Data' , 'orders_products_combined.pkl'))