# Import Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\james\Anaconda\Instacart Basket Analysis'

# Import Dataframe

In [3]:
# Import dataframe 'ords_prods_merge'

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data' , 'Original Data' , 'ords_prods_merge.pkl'))

# Create Subset

In [4]:
df= ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 15)

# Using If Statements

In [6]:
# Define function

def price_label(row):
    
    if row ['prices'] <= 5:
        return 'Low-range product'
    elif (row ['prices'] > 5) and (row ['prices'] <= 15) :
        return 'Med-range product'
    elif row [ 'prices'] > 15:
        return 'High range'
    else : return 'Not enough data'

In [7]:
# Apply function in the newly created column

df ['price_range'] = df.apply(price_label, axis = 1)

C:\Users\james\AppData\Local\Temp\ipykernel_6812\2473485647.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df ['price_range'] = df.apply(price_label, axis = 1)

In [8]:
df['price_range'].value_counts(dropna = False)

price_range
Med-range product    673340
Low-range product    314392
High range            12268
Name: count, dtype: int64

In [9]:
df['prices'].max()

25.0

In [42]:
# prices larger than 15

df.loc [df ['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
# prices less than or equal to 15 and larger than 5 

df.loc [ (df ['prices'] <= 15) & (df ['prices'] > 5) , 'price_range_loc'] = 'Mid-range product'

In [12]:
# prices less than or equal to 5

df.loc [ df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
# check output

df ['price_range_loc'].value_counts (dropna = False)

price_range_loc
Mid-range product     673340
Low-range product     314392
High-range product     12268
Name: count, dtype: int64

In [14]:
# prices larger than 15

ords_prods_merge.loc [ords_prods_merge ['prices'] > 15 , 'price_range_loc'] = 'High-range product'

In [15]:
# prices less than or equal to 15 and larger than 5 

ords_prods_merge.loc [ (ords_prods_merge ['prices'] <= 15) & (ords_prods_merge ['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
# prices less than or equal to 5

ords_prods_merge.loc [ ords_prods_merge ['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [17]:
# check output

ords_prods_merge ['price_range_loc'].value_counts (dropna = False)

price_range_loc
Mid-range product     21865987
Low-range product     10126321
High-range product      412551
Name: count, dtype: int64

# If Statements With For Loops

In [18]:
# Get the frequence to know which day most orders take place

ords_prods_merge ['order_dow'].value_counts(dropna = False)

order_dow
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

# Observation
Number of orders has been arranged in descending order, the day '0' with the most orders represent 'Saturday', while day '4' represents Wednesday

In [19]:
# Apply for-loop integrated with if-statements

result = []

for value in ords_prods_merge ['order_dow'] :
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else :
        result.append('Regularly busy')

In [20]:
result [:5]

['Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy']

In [21]:
# Combine result list with the dataframe

ords_prods_merge ['busiest_day'] = result

In [22]:
# Count the frequency of the new created column and cross-check it with frequency check done before the loop

ords_prods_merge ['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# Task

In [24]:
# check output
ords_prods_merge.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy

# Create a new column with busiest_days and slowest_days

In [25]:
# check the frequence to obtain the busiest days and slowest days

ords_prods_merge ['order_dow']. value_counts(dropna = False)

order_dow
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

# Observation
busiest days are '0' and '1' represent Saturday and Sunday; slowest days '3' and '4' represent Tuesday and Wednesday

In [26]:
# Use for-loop to create an empty list that categorizes the days.

result_1 = []

for x in ords_prods_merge ['order_dow'] :
    if x in {0,1} :
        result_1.append('Busiest days')
    elif x in {3,4} :
        result_1.append('Slowest days')
    else :
        result_1.append('Regularly busy')

In [27]:
# check the output list

result_1[:5]

['Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy']

In [31]:
# Check the desired column 'busiest days' (plural) has been created

ords_prods_merge.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy

In [32]:
# Get the frequency counts of the individual hours of the day

ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [37]:
# use for-loop by creating a list

outcome = []

for x in ords_prods_merge['order_hour_of_day']:
    if x in {9,16,12,13,14,15,11,10}:
        outcome.append('Most orders')
    elif x in {5,2,4,3}:
        outcome.append('Fewest orders')
    else :
        outcome.append('Average orders')

In [38]:
# combine the list with dataframe by creating a new column

ords_prods_merge ['busiest_period_of_the_day'] = outcome

In [39]:
# cross-check the frequency counts of the new created column

ords_prods_merge ['busiest_period_of_the_day'].value_counts(dropna=False)

busiest_period_of_the_day
Most orders       21118071
Average orders    11024929
Fewest orders       261859
Name: count, dtype: int64

In [40]:
# check output

ords_prods_merge.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest_day,busiest_period_of_the_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Average orders

In [41]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data' , 'Original Data' , 'ords_prods_derived.pkl'))